body {
	font-family:Lucida Sans,Lucida Grande,Arial,sans-serif;
	margin:20px;
	line-height:20px;
	background-color: #FAFAFA;
}
#logo {
	text-align: right;
	font-family:Lucida Sans,Lucida Grande,Arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.container {
	font-family: sans-serif;
	width: 700px;
}

.tab {
	padding-left: 20px;
}
.space {
	padding-left: 5px;
}
#controls, #editor, #pages {
	width: 100%;
}

#editor {
	height: 1000px;
}

#metainformation {
	position: absolute;
	top: 140px;
	left: 180px;
	/*display: none;*/
}
