#editable {
	font-family: Arial, Helvetica;
	width: 700px;
	height: 1000px;
	border:1px solid black;
	text-align: left;
	padding: 15px 10px;
	margin: 0;
	font-size: 12px;
	line-height: 17px;
	padding: 30px 10px 20px 10px;
	-webkit-user-select: text;
}