.meta {
	font-size: 10px;
}
.meta input[type="text"] {
	width: 260px;
	height: 17px;
	bot
	font-size: 12px;
	border:1px solid #999;
}
.meta span {
	color: #888;
	font-style: italic;
}

#meta-location {
	display: none;
}
