<div id="meta-name" class="meta">
	<input type="text" name="meta-name" value="">
	<input type="button" id="meta-name-ok" value="ok"><br>
	<span>enter your name and surname</span>
</div>

<div id="meta-location" class="meta">
	<input type="text" name="meta-location" value="">
	<input type="button" id="meta-location-ok" value="ok"><br>
	<span>enter your city + country (for example Berlin, GER)</span>
</div>
