<form>
<div id="meta-name" class="meta">
	<input type="text" name="meta-name" id="meta-name-value" value="">
	<input type="button" id="meta-name-ok" value="ok"><br>
	<span>enter your name and surname</span>
</div>

<div id="meta-location" class="meta">
	<input type="text" name="meta-location" id="meta-location-value" value="">
	<input type="button" id="meta-location-ok" value="ok"><br>
	<span>enter your city + country (for example Berlin, GER)</span>
</div>
</form>