<!-- Gets replaced with TinyMCE, remember HTML in a textarea should be encoded -->
<div id="textarea">
	<textarea name="page_1" id="page_1" page="1" class="tinymce"></textarea>
</div>

<!-- here's your trashbin -->
<div id="trash">
</div>
