<form>
	<!-- Gets replaced with TinyMCE, remember HTML in a textarea should be encoded -->
	<div id="textarea">
		<textarea name="page_1" id="page_1" page="1" rows="15" cols="80" class="tinymce"></textarea>
	</div>
    
	 Some integration calls 
	<a href="javascript:;" onclick="$('#page_1').tinymce().show();return false;">[Show]</a>
	<a href="javascript:;" onclick="$('#page_1').tinymce().hide();return false;">[Hide]</a>
	<a href="javascript:;" onclick="$('#page_1').tinymce().execCommand('Bold');return false;">[Bold]</a>
	<a href="javascript:;" onclick="alert($('#page_1').html());return false;">[Get contents]</a>
	<a href="javascript:;" onclick="alert($('#page_1').tinymce().selection.getContent());return false;">[Get selected HTML]</a>
	<a href="javascript:;" onclick="alert($('#page_1').tinymce().selection.getContent({format : 'text'}));return false;">[Get selected text]</a>
	<a href="javascript:;" onclick="alert($('#page_1').tinymce().selection.getNode().nodeName);return false;">[Get selected element]</a>
	<a href="javascript:;" onclick="$('#page_1').tinymce().execCommand('mceInsertContent',false,'<b>Hello world!!</b>');return false;">[Insert HTML]</a>
	<a href="javascript:;" onclick="$('#page_1').tinymce().execCommand('mceReplaceContent',false,'<b>{$selection}</b>');return false;">[Replace selection]</a>
	
</form>
<input type="button" id="test" value="test" />
<!-- here's your trashbin -->
<div id="trash"> 
<div>