<div style="position: relative;">
	<div id="last-opened">document opened <time class="timeago" datetime=""></time></div>
	<div id="document-owner">Document Owner: <span class="timeago">unknown</span></div>
</div>